@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Carrosel */
.image-carousel {
    object-fit: cover;
    height: 37em;
    filter: opacity(.5);
}

h5 {
    font-family: 'Mulish', sans-serif;
    font-size: 2.2em;
    font-weight: 800;
    text-shadow: #232946 2px 2px 0px;
    color: white;
    padding-bottom: 6.5em;
}

.text-carousel {
    font-family: 'Mulish', sans-serif;
    text-shadow: #232946 2px 2px 0px;
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    padding: 0 1em;
}
 
/* Seção 2 - Resumo */
.resumo-taskme {
    width: 60%;
    margin-bottom: 2em;
}

.texto-resumo {
    font-family: 'Mulish', sans-serif;
    text-align: center;
    color: white;
    font-size: 1.4em;
}

.resumo-botao {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 3em;
    margin-top: 2em;
}

.botao-cadastre {
    border: 2px #b8cfec solid;
    padding: 3px 16px;
    background-color: #b8cfec;
    color: #232946;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    font-size: 1.4em;
    border-radius: .7em;
}

.botao-cadastre:hover {
    color: #b8cfec;
    background-color: #232946;
}

.botao-texto {
    display: flex;
    flex-direction: column;
    justify-content: end
}

.imagem-main {
    width: 30%;
    margin-left: 3em;
}

.sencudária {
    margin: 6em 0 2em 5em;
    display: flex;
}

.google-play{
    width: 40%;
    margin-left: 3em;
}