* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;
    background-color: #232946;
}

.imglogo {
    text-align: center;
    margin-top: 5%;
}

.logo {
    width: 10%;
}

.cont {

    margin: 2% 0% 5% 0%;
    background: #232946;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 20%;
    padding: 1% 1% 1% 1%;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.22);
    box-shadow: 0.5px 2px 4px 4px rgba(0, 0, 0, 0.22);
}

h2 {
    color: rgb(64, 64, 64);
    padding-bottom: 10%;
}

.box p {
    color: rgb(107, 107, 107);
    font-size: 16px;
    padding-bottom: 5%;
}

.email {
    height: 40px;
    width: 100%;
    font-size: 18px;
    border: 1px solid;
    border-color: rgba(163, 159, 159, 0.531);
    border-radius: 1%;
    margin-bottom: 5%;
}

.botao {
    background-color: #61BD4F;
    color: #fff;
    border: 0px;
    padding: 3%;
    border-radius: 8px;
    align-self: center;
    cursor: pointer;
    margin-bottom: 5%;
}

.imgs {
    display: flex;
    justify-content: space-between;
    opacity: 0.6;
    /* position: absolute; */

}

.imgs img {
    width: 20%;
}

@media (max-width: 1000px) {

    .logo {
        width: 30%;
        margin-bottom: 8%;
    }

    .box {
        width: 60%;
        padding: 3%;
    }

    .imgs {
        display: none;
    }

    .alignMedia {
        text-align: center;
    }

    .imgMedia {
        display: flex;
        width: 50%;
        opacity: 0.7;
        margin-left: 23%;
    }

}

@media (min-width:1000px) {
    .imgMedia {
        display: none;
    }
}